# PyCity Schools Analysis

Overall Conclusions

* Throughout the entire data set, schools with higher per capita budgets (645-675 per student) performend much worse than their lower budget (<585 per student) counterparts.

* Also seen throughout the Data, smaller and medium sized schools performed much better than lerger sized schools on passing math (89% & 91% passing vs 67% passing)

* Charter schools also noticably outperformed public district schools, but a conflicting variable on this conclusion is that charter schools have radically smaller school populations compared to public district schools, requiring further data and anaylsis to gain more insightful knowledge

In [1]:
#imports 
import pandas as pd

#file to load paths
schoolDataPath = "Resources/schools_complete.csv"
studentDataPath = "Resources/students_complete.csv"

#store the data into dataframes in Pandas
schoolDataDF = pd.read_csv(schoolDataPath)
studentDataDF = pd.read_csv(studentDataPath)

#combine the dataframes
schoolDataCompleteDF = pd.merge(studentDataDF, schoolDataDF, how = "left", on = ["school_name","school_name"])

# District Summary

In [2]:
#calculate the Totals (schools and students)
schoolCount = len(schoolDataCompleteDF["school_name"].unique())
studentCount = schoolDataCompleteDF["Student ID"].count()

#find total budget
totalBudget = schoolDataDF["budget"].sum()

In [3]:
#find the average scores
averageMathScore = schoolDataCompleteDF["math_score"].mean()
averageReadingScore= schoolDataCompleteDF["reading_score"].mean()

In [4]:
#calculate the percentage pass rate, calculate the count/total of those students who passed to be able to find the pass rate 
passingMathCount = schoolDataCompleteDF[(schoolDataCompleteDF["math_score"] >= 70)].count()["student_name"]

#calculate the part from the whole (passing math count / total students) Total:29,370, 74.98%

passingMathPercent = (passingMathCount / float(studentCount)) * 100

#Calculate the reading data. Total: 33,610, 85.81%

passingReadingCount = schoolDataCompleteDF[(schoolDataCompleteDF["reading_score"] >= 70)].count()["student_name"]

passingReadingPercent = (passingReadingCount / float(studentCount)) * 100

#Calculate the overall passing rate (both math and reading) Total: 25,528, 65.172%

passingMathReadingCount = schoolDataCompleteDF[(schoolDataCompleteDF["math_score"] >= 70) &
                                               (schoolDataCompleteDF["reading_score"] >= 70)].count()["student_name"]

passingMathReadingPercent = (passingMathReadingCount / float(studentCount)) * 100

In [5]:
#Data Cleanup
districtSummary = pd.DataFrame ({
    "Total Schools": [schoolCount],
    "Total Students": [studentCount],
    "Total Budget": [totalBudget],
    "Average Math Score": [averageMathScore],
    "Average Reading Score": [averageReadingScore],
    "% Passing Math": [passingMathPercent],
    "% Passing Reading": [passingReadingPercent],
    "% Passing Overall": [passingMathReadingPercent]
    
})

#Formatting
districtSummary["Total Students"] = districtSummary["Total Students"].map("{:,}".format)
districtSummary["Total Budget"] = districtSummary["Total Budget"].map("${:,.2f}".format)
districtSummary["Average Math Score"] = districtSummary["Average Math Score"].map("{:,.2f}%".format)
districtSummary["Average Reading Score"] = districtSummary["Average Reading Score"].map("{:,.2f}%".format)
districtSummary["% Passing Math"] = districtSummary["% Passing Math"].map("{:,.2f}%".format)
districtSummary["% Passing Reading"] = districtSummary["% Passing Reading"].map("{:,.2f}%".format)
districtSummary["% Passing Overall"] = districtSummary["% Passing Overall"].map("{:,.2f}%".format)

#Display dataFrame
districtSummary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,"39,170","$24,649,428.00",78.99%,81.88%,74.98%,85.81%,65.17%

# School Summary

In [6]:
#Determine the School type
schoolTypes = schoolDataDF.set_index(["school_name"])["type"]

#total student count
perSchoolCount = schoolDataCompleteDF["school_name"].value_counts()

#calculate the total school budget
perSchoolBudget = schoolDataCompleteDF.groupby(["school_name"]).mean()["budget"]
perSchoolCapita = perSchoolBudget / perSchoolCount

#calculate the average test scores
perSchoolMath = schoolDataCompleteDF.groupby(["school_name"]).mean()["math_score"]
perSchoolReading = schoolDataCompleteDF.groupby(["school_name"]).mean()["reading_score"]

In [7]:
#get the students who passed math and reading
schoolPassingMath = schoolDataCompleteDF[(schoolDataCompleteDF["math_score"] >= 70)]
schoolPassingReading = schoolDataCompleteDF[(schoolDataCompleteDF["reading_score"] >= 70)]

#combine the students who passed both reading and math into new DF
schoolPassingMathReading = schoolDataCompleteDF[(schoolDataCompleteDF["math_score"] >= 70) &
                                         (schoolDataCompleteDF["reading_score"] >= 70)]

In [8]:
#Calculate the percentage pass rates
#calculate the percentage of students who passed math per school
perSchoolPassingMath = (schoolPassingMath.groupby(["school_name"]).count()["student_name"] / perSchoolCount) * 100


#Calculate the percentage of students who passed reading per school
perSchoolPassingReading = (schoolPassingReading.groupby(["school_name"]).count()["student_name"] / perSchoolCount) * 100

#Calculate the percentage of students who passed both
perSchoolPassingMathReading = (schoolPassingMathReading.groupby(["school_name"]).count()["student_name"] / perSchoolCount) * 100

In [9]:
#convert to DataFrame
perSchoolSummary = pd.DataFrame ({
    "School Type": schoolTypes,
    "Total Students": perSchoolCount,
    "Total School Budget": perSchoolBudget,
    "Per Student Budget": perSchoolCapita,
    "Average Math Score": perSchoolMath,
    "Average Reading Score": perSchoolReading,
    "% Passing Math": perSchoolPassingMath,
    "% Passing Reading": perSchoolPassingReading,
    "% Passing Overall": perSchoolPassingMathReading
    
})

#Minor Data Formatting
perSchoolSummary["Total Students"] = perSchoolSummary["Total Students"].map("{:,}".format)
perSchoolSummary["Total School Budget"] = perSchoolSummary["Total School Budget"].map("${:,.2f}".format)
perSchoolSummary["Per Student Budget"] = perSchoolSummary["Per Student Budget"].map("${:,.0f}".format)
perSchoolSummary["Average Math Score"] = perSchoolSummary["Average Math Score"].map("{:,.2f}%".format)
perSchoolSummary["Average Reading Score"] = perSchoolSummary["Average Reading Score"].map("{:,.2f}%".format)
perSchoolSummary["% Passing Math"] = perSchoolSummary["% Passing Math"].map("{:,.2f}%".format)
perSchoolSummary["% Passing Reading"] = perSchoolSummary["% Passing Reading"].map("{:,.2f}%".format)
perSchoolSummary["% Passing Overall"] = perSchoolSummary["% Passing Overall"].map("{:,.2f}%".format)


#display the DF
perSchoolSummary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Bailey High School,District,"4,976","$3,124,928.00",$628,77.05%,81.03%,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582,83.06%,83.98%,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639,76.71%,81.16%,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644,77.10%,80.75%,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625,83.35%,83.82%,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652,77.29%,80.93%,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581,83.80%,83.81%,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655,76.63%,81.18%,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650,77.07%,80.97%,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609,83.84%,84.04%,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637,76.84%,80.74%,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600,83.36%,83.73%,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638,83.42%,83.85%,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578,83.27%,83.99%,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583,83.68%,83.95%,93.33%,96.61%,90.33%

# Top Performing Schools (By % Overall Passing)

In [10]:
#sort and show top five schools
topSchools = perSchoolSummary.sort_values(["% Passing Overall"], ascending = False)
topSchools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Cabrera High School,Charter,"1,858","$1,081,356.00",$582,83.06%,83.98%,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638,83.42%,83.85%,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625,83.35%,83.82%,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578,83.27%,83.99%,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609,83.84%,84.04%,94.59%,95.95%,90.54%

# Bottom Performing Schools (By % Overall Passing)

In [11]:
#
bottomSchools = perSchoolSummary.sort_values(["% Passing Overall"], ascending = True)
bottomSchools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Rodriguez High School,District,"3,999","$2,547,363.00",$637,76.84%,80.74%,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639,76.71%,81.16%,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655,76.63%,81.18%,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652,77.29%,80.93%,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650,77.07%,80.97%,66.06%,81.22%,53.54%

# Math Scores by Grade

In [12]:
#Create data series of scores by grade levels using conditionals (9th, 10th, 11th, and 12th)
#create data series for 9th graders
ninthGraders = schoolDataCompleteDF[schoolDataCompleteDF["grade"] == "9th"]
#10th
tenthGraders = schoolDataCompleteDF[schoolDataCompleteDF["grade"] == "10th"]

#11th
eleventhGraders = schoolDataCompleteDF[schoolDataCompleteDF["grade"] == "11th"]

#12th
twelfthGraders = schoolDataCompleteDF[schoolDataCompleteDF["grade"] == "12th"]

#Group each by school name
ninthGraderMathScores = ninthGraders.groupby(["school_name"]).mean()["math_score"]
tenthGraderMathScores = tenthGraders.groupby(["school_name"]).mean()["math_score"]
eleventhGraderMathScores = eleventhGraders.groupby(["school_name"]).mean()["math_score"]
twelfthGraderMathScores = twelfthGraders.groupby(["school_name"]).mean()["math_score"]

#Combine sries into single dataframe
scoresByGradeMath = pd.DataFrame ({
    "9th" : ninthGraderMathScores,
    "10th" : tenthGraderMathScores,
    "11th" : eleventhGraderMathScores,
    "12th" : twelfthGraderMathScores
})

#Data formatting
scoresByGradeMath["9th"] = scoresByGradeMath["9th"].map("{:.2f}%".format)
scoresByGradeMath["10th"] = scoresByGradeMath["10th"].map("{:.2f}%".format)
scoresByGradeMath["11th"] = scoresByGradeMath["11th"].map("{:.2f}%".format)
scoresByGradeMath["12th"] = scoresByGradeMath["12th"].map("{:.2f}%".format)
scoresByGradeMath.index.name = None

#Display the DF
scoresByGradeMath

                          9th    10th    11th    12th
Bailey High School     77.08%  77.00%  77.52%  76.49%
Cabrera High School    83.09%  83.15%  82.77%  83.28%
Figueroa High School   76.40%  76.54%  76.88%  77.15%
Ford High School       77.36%  77.67%  76.92%  76.18%
Griffin High School    82.04%  84.23%  83.84%  83.36%
Hernandez High School  77.44%  77.34%  77.14%  77.19%
Holden High School     83.79%  83.43%  85.00%  82.86%
Huang High School      77.03%  75.91%  76.45%  77.23%
Johnson High School    77.19%  76.69%  77.49%  76.86%
Pena High School       83.63%  83.37%  84.33%  84.12%
Rodriguez High School  76.86%  76.61%  76.40%  77.69%
Shelton High School    83.42%  82.92%  83.38%  83.78%
Thomas High School     83.59%  83.09%  83.50%  83.50%
Wilson High School     83.09%  83.72%  83.20%  83.04%
Wright High School     83.26%  84.01%  83.84%  83.64%

# Reading Score by Grade

In [13]:
#Create data series of scores by grade levels using conditionals (9th, 10th, 11th, and 12th)
#create data series for 9th graders
ninthGraders = schoolDataCompleteDF[schoolDataCompleteDF["grade"] == "9th"]
#10th
tenthGraders = schoolDataCompleteDF[schoolDataCompleteDF["grade"] == "10th"]

#11th
eleventhGraders = schoolDataCompleteDF[schoolDataCompleteDF["grade"] == "11th"]

#12th
twelfthGraders = schoolDataCompleteDF[schoolDataCompleteDF["grade"] == "12th"]

#Group each by school name
ninthGraderReadingScores = ninthGraders.groupby(["school_name"]).mean()["reading_score"]
tenthGraderReadingScores = tenthGraders.groupby(["school_name"]).mean()["reading_score"]
eleventhGraderReadingScores = eleventhGraders.groupby(["school_name"]).mean()["reading_score"]
twelfthGraderReadingScores = twelfthGraders.groupby(["school_name"]).mean()["reading_score"]

#Combine sries into single dataframe
scoresByGradeReading = pd.DataFrame ({
    "9th" : ninthGraderReadingScores,
    "10th" : tenthGraderReadingScores,
    "11th" : eleventhGraderReadingScores,
    "12th" : twelfthGraderReadingScores
})

#Data formatting
scoresByGradeReading["9th"] = scoresByGradeReading["9th"].map("{:.2f}%".format)
scoresByGradeReading["10th"] = scoresByGradeReading["10th"].map("{:.2f}%".format)
scoresByGradeReading["11th"] = scoresByGradeReading["11th"].map("{:.2f}%".format)
scoresByGradeReading["12th"] = scoresByGradeReading["12th"].map("{:.2f}%".format)
scoresByGradeReading.index.name = None

#Display the DF
scoresByGradeReading

                          9th    10th    11th    12th
Bailey High School     81.30%  80.91%  80.95%  80.91%
Cabrera High School    83.68%  84.25%  83.79%  84.29%
Figueroa High School   81.20%  81.41%  80.64%  81.38%
Ford High School       80.63%  81.26%  80.40%  80.66%
Griffin High School    83.37%  83.71%  84.29%  84.01%
Hernandez High School  80.87%  80.66%  81.40%  80.86%
Holden High School     83.68%  83.32%  83.82%  84.70%
Huang High School      81.29%  81.51%  81.42%  80.31%
Johnson High School    81.26%  80.77%  80.62%  81.23%
Pena High School       83.81%  83.61%  84.34%  84.59%
Rodriguez High School  80.99%  80.63%  80.86%  80.38%
Shelton High School    84.12%  83.44%  84.37%  82.78%
Thomas High School     83.73%  84.25%  83.59%  83.83%
Wilson High School     83.94%  84.02%  83.76%  84.32%
Wright High School     83.83%  83.81%  84.16%  84.07%

# Scores by School Spending

In [14]:
#establish the bins
spendingBins = [0, 585, 630, 645, 680]
groupNames = ["<$585", "$585 - 630", "$631 - 645", "$646 - 680+"]

In [15]:
#Create a copy of the school summary since it has the "Per Student Budget"
schoolSpendingDF = perSchoolSummary

In [16]:
# categorize  spending 
schoolSpendingDF["Spending Ranges (Per Student)"] = pd.cut(perSchoolCapita, spendingBins, labels = groupNames)
perSchoolSummary["Spending Ranges (Per Student)"] = pd.cut(perSchoolCapita, spendingBins, labels = groupNames)

schoolSpendingDF

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall,Spending Ranges (Per Student)
Bailey High School,District,"4,976","$3,124,928.00",$628,77.05%,81.03%,66.68%,81.93%,54.64%,$585 - 630
Cabrera High School,Charter,"1,858","$1,081,356.00",$582,83.06%,83.98%,94.13%,97.04%,91.33%,<$585
Figueroa High School,District,"2,949","$1,884,411.00",$639,76.71%,81.16%,65.99%,80.74%,53.20%,$631 - 645
Ford High School,District,"2,739","$1,763,916.00",$644,77.10%,80.75%,68.31%,79.30%,54.29%,$631 - 645
Griffin High School,Charter,"1,468","$917,500.00",$625,83.35%,83.82%,93.39%,97.14%,90.60%,$585 - 630
Hernandez High School,District,"4,635","$3,022,020.00",$652,77.29%,80.93%,66.75%,80.86%,53.53%,$646 - 680+
Holden High School,Charter,427,"$248,087.00",$581,83.80%,83.81%,92.51%,96.25%,89.23%,<$585
Huang High School,District,"2,917","$1,910,635.00",$655,76.63%,81.18%,65.68%,81.32%,53.51%,$646 - 680+
Johnson High School,District,"4,761","$3,094,650.00",$650,77.07%,80.97%,66.06%,81.22%,53.54%,$646 - 680+
Pena High School,Charter,962,"$585,858.00",$609,83.84%,84.04%,94.59%,95.95%,90.54%,$585 - 630
Rodriguez High School,District,"3,999","$2,547,363.00",$637,76.84%,80.74%,66.37%,80.22%,52.99%,$631 - 645
Shelton High School,Charter,"1,761","$1,056,600.00",$600,83.36%,83.73%,93.87%,95.85%,89.89%,$585 - 630
Thomas High School,Charter,"1,635","$1,043,130.00",$638,83.42%,83.85%,93.27%,97.31%,90.95%,$631 - 645
Wilson High School,Charter,"2,283","$1,319,574.00",$578,83.27%,83.99%,93.87%,96.54%,90.58%,<$585
Wright High School,Charter,"1,800","$1,049,400.00",$583,83.68%,83.95%,93.33%,96.61%,90.33%,<$585

In [17]:
#Calculate the average for the desired columns.
schoolSpendingCopy = schoolSpendingDF
schoolSpendingCopy["Average Math Score"] = schoolSpendingCopy["Average Math Score"].str.replace("%","").astype('float')
schoolSpendingCopy["Average Reading Score"] = schoolSpendingCopy["Average Reading Score"].str.replace("%","").astype('float')
schoolSpendingCopy["% Passing Math"] = schoolSpendingCopy["% Passing Math"].str.replace("%","").astype('float')
schoolSpendingCopy["% Passing Reading"] = schoolSpendingCopy["% Passing Reading"].str.replace("%","").astype('float')
schoolSpendingCopy["% Passing Overall"] = schoolSpendingCopy["% Passing Overall"].str.replace("%","").astype('float')

#The variables are already the correct type, no need for the code above
#schoolSpendingCopy.dtypes

In [18]:
#Calculate averages for the desired columns

#math_spending_scores
mathSpendingScore = schoolSpendingCopy.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
#mathSpendingScore

#reading_spending_scores
readingSpendingScores = schoolSpendingCopy.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
#readingSpendingScores

mathSpendingPassingScore = schoolSpendingCopy.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
readingSpendingPassingScore = schoolSpendingCopy.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
mathReadingSpendingPassingScore = schoolSpendingCopy.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Overall"]

In [19]:
#Create DF
spendingSummaryDF = pd.DataFrame({
    "Average Math Score": mathSpendingScore.round(2),
    "Average Reading Score": readingSpendingScores.round(2),
    "% Passing Math": mathSpendingPassingScore.round(2),    
    "% Passing Reading": readingSpendingPassingScore.round(2), 
    "% Passing Overall": mathReadingSpendingPassingScore.round(2)
})

spendingSummaryDF

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Spending Ranges (Per Student),,,,,
<$585,83.45,83.93,93.46,96.61,90.37
$585 - 630,81.90,83.16,87.13,92.72,81.42
$631 - 645,78.52,81.62,73.48,84.39,62.86
$646 - 680+,77.00,81.03,66.16,81.13,53.53

# Scores by School Size

In [20]:
#create bins 
sizeBins = [0, 1000, 2000, 5000]
groupNames = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [21]:
schoolSpendingCopy["Total Students"] = schoolSpendingCopy["Total Students"].str.replace(",","").astype('float')

In [22]:
perSchoolSummary["School Size"] = pd.cut(schoolSpendingCopy["Total Students"], sizeBins, labels = groupNames)
#perSchoolSummary.head(2)

In [23]:
#Calculate averages for the desired columns
mathSizeScore = perSchoolSummary.groupby(["School Size"]).mean()["Average Math Score"]
readingSizeScores = perSchoolSummary.groupby(["School Size"]).mean()["Average Reading Score"]
mathSizePassingScore = perSchoolSummary.groupby(["School Size"]).mean()["% Passing Math"]
readingSizePassingScore = perSchoolSummary.groupby(["School Size"]).mean()["% Passing Reading"]
mathReadingSizePassingScore = perSchoolSummary.groupby(["School Size"]).mean()["% Passing Overall"]

In [24]:
#Assemble into DF
#Create DF
sizeSummaryDF = pd.DataFrame({
    "Average Math Score": mathSizeScore.round(2),
    "Average Reading Score": readingSizeScores.round(2),
    "% Passing Math": mathSizePassingScore.round(2),    
    "% Passing Reading": readingSizePassingScore.round(2), 
    "% Passing Overall": mathReadingSizePassingScore.round(2)
})

sizeSummaryDF

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
School Size,,,,,
Small (<1000),83.82,83.93,93.55,96.10,89.88
Medium (1000-2000),83.37,83.87,93.60,96.79,90.62
Large (2000-5000),77.74,81.34,69.96,82.77,58.28

# Scores by School Type

In [25]:
#create a new series using group by for school type
mathTypeScore = perSchoolSummary.groupby(["School Type"]).mean()["Average Math Score"]
readingTypeScores = perSchoolSummary.groupby(["School Type"]).mean()["Average Reading Score"]
mathTypePassingScore = perSchoolSummary.groupby(["School Type"]).mean()["% Passing Math"]
readingTypePassingScore = perSchoolSummary.groupby(["School Type"]).mean()["% Passing Reading"]
mathReadingTypePassingScore = perSchoolSummary.groupby(["School Type"]).mean()["% Passing Overall"]

In [26]:
#Assemble into DF
typeSummary = pd.DataFrame({
    "Average Math Score": mathTypeScore.round(2),
    "Average Reading Score": readingTypeScores.round(2),
    "% Passing Math": mathTypePassingScore.round(2),    
    "% Passing Reading": readingTypePassingScore.round(2), 
    "% Passing Overall": mathReadingTypePassingScore.round(2)
})

typeSummary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
School Type,,,,,
Charter,83.47,83.90,93.62,96.59,90.43
District,76.96,80.97,66.55,80.80,53.67